################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HiHelloCard/.vs/HiHelloCard
/HiHelloCard/.vs/ProjectEvaluation/hihellocard.metadata.v8.bin
/HiHelloCard/.vs/ProjectEvaluation/hihellocard.projects.v8.bin
/HiHelloCard/obj/Debug/net8.0/HiHelloCard.AssemblyInfo.cs
/HiHelloCard/obj/Debug/net8.0/HiHelloCard.GeneratedMSBuildEditorConfig.editorconfig
/HiHelloCard.Interfaces/obj/Debug/net8.0/HiHelloCard.Interfaces.AssemblyInfo.cs
/HiHelloCard.Interfaces/obj/Debug/net8.0/HiHelloCard.Interfaces.GeneratedMSBuildEditorConfig.editorconfig
/HiHelloCard.Mapper/obj/Debug/net8.0/HiHelloCard.Mapper.AssemblyInfo.cs
/HiHelloCard.Mapper/obj/Debug/net8.0/HiHelloCard.Mapper.GeneratedMSBuildEditorConfig.editorconfig
/HiHelloCard.Model/obj/Debug/net8.0/HiHelloCard.Model.AssemblyInfo.cs
/HiHelloCard.Model/obj/Debug/net8.0/HiHelloCard.Model.GeneratedMSBuildEditorConfig.editorconfig
/HiHelloCard.Repository/obj/Debug/net8.0/HiHelloCard.Repository.AssemblyInfo.cs
/HiHelloCard.Repository/obj/Debug/net8.0/HiHelloCard.Repository.GeneratedMSBuildEditorConfig.editorconfig
/HiHelloCard.Services/obj/Debug/net8.0/HiHelloCard.Services.AssemblyInfo.cs
/HiHelloCard.Services/obj/Debug/net8.0/HiHelloCard.Services.GeneratedMSBuildEditorConfig.editorconfig
/HiHelloCard/bin/Debug/net8.0/HiHelloCard.Interfaces.dll
/HiHelloCard/bin/Debug/net8.0/HiHelloCard.Interfaces.pdb
/HiHelloCard/bin/Debug/net8.0/Newtonsoft.Json.dll
/HiHelloCard/obj/Debug/net8.0/apphost.exe
/HiHelloCard/obj/Debug/net8.0/HiHelloCard.AssemblyInfo.cs
/HiHelloCard/obj/Debug/net8.0/HiHelloCard.AssemblyInfoInputs.cache
/HiHelloCard/obj/Debug/net8.0/HiHelloCard.assets.cache
/HiHelloCard/obj/Debug/net8.0/HiHelloCard.csproj.AssemblyReference.cache
/HiHelloCard/obj/Debug/net8.0/HiHelloCard.csproj.CoreCompileInputs.cache
/HiHelloCard/obj/Debug/net8.0/HiHelloCard.csproj.FileListAbsolute.txt
/HiHelloCard/obj/Debug/net8.0/HiHelloCard.sourcelink.json
/HiHelloCard/obj/project.assets.json
/HiHelloCard/obj/project.nuget.cache
/HiHelloCard.Interfaces/bin/Debug/net8.0/HiHelloCard.Interfaces.dll
/HiHelloCard.Interfaces/bin/Debug/net8.0/HiHelloCard.Interfaces.pdb
/HiHelloCard.Interfaces/bin/Debug/net8.0/HiHelloCard.Model.dll
/HiHelloCard.Interfaces/bin/Debug/net8.0/HiHelloCard.Model.pdb
/HiHelloCard.Interfaces/obj/Debug/net8.0/ref/HiHelloCard.Interfaces.dll
/HiHelloCard.Interfaces/obj/Debug/net8.0/HiHelloCard.Interfaces.AssemblyInfo.cs
/HiHelloCard.Interfaces/obj/Debug/net8.0/HiHelloCard.Interfaces.AssemblyInfoInputs.cache
/HiHelloCard.Interfaces/obj/Debug/net8.0/HiHelloCard.Interfaces.csproj.AssemblyReference.cache
/HiHelloCard.Interfaces/obj/Debug/net8.0/HiHelloCard.Interfaces.csproj.CoreCompileInputs.cache
/HiHelloCard.Interfaces/obj/Debug/net8.0/HiHelloCard.Interfaces.csproj.FileListAbsolute.txt
/HiHelloCard.Interfaces/obj/Debug/net8.0/HiHelloCard.Interfaces.dll
/HiHelloCard.Interfaces/obj/Debug/net8.0/HiHelloCard.Interfaces.pdb
/HiHelloCard.Interfaces/obj/Debug/net8.0/HiHelloCard.Interfaces.sourcelink.json
/HiHelloCard.Interfaces/obj/Debug/net8.0/refint/HiHelloCard.Interfaces.dll
/HiHelloCard.Mapper/bin/Debug/net8.0/HiHelloCard.Mapper.dll
/HiHelloCard.Mapper/bin/Debug/net8.0/HiHelloCard.Mapper.pdb
/HiHelloCard.Mapper/bin/Debug/net8.0/HiHelloCard.Model.dll
/HiHelloCard.Mapper/bin/Debug/net8.0/HiHelloCard.Model.pdb
/HiHelloCard.Mapper/obj/Debug/net8.0/ref/HiHelloCard.Mapper.dll
/HiHelloCard.Mapper/obj/Debug/net8.0/refint/HiHelloCard.Mapper.dll
/HiHelloCard.Mapper/obj/Debug/net8.0/HiHelloCard.Mapper.AssemblyInfo.cs
/HiHelloCard.Mapper/obj/Debug/net8.0/HiHelloCard.Mapper.csproj.FileListAbsolute.txt
/HiHelloCard.Model/bin/Debug/net8.0/HiHelloCard.Model.dll
/HiHelloCard.Model/bin/Debug/net8.0/HiHelloCard.Model.pdb
/HiHelloCard.Model/obj/Debug/net8.0/ref/HiHelloCard.Model.dll
/HiHelloCard.Model/obj/Debug/net8.0/refint/HiHelloCard.Model.dll
/HiHelloCard.Model/obj/Debug/net8.0/HiHelloCard.Model.AssemblyInfo.cs
/HiHelloCard.Model/obj/Debug/net8.0/HiHelloCard.Model.AssemblyInfoInputs.cache
/HiHelloCard.Model/obj/Debug/net8.0/HiHelloCard.Model.csproj.CoreCompileInputs.cache
/HiHelloCard.Model/obj/Debug/net8.0/HiHelloCard.Model.csproj.FileListAbsolute.txt
/HiHelloCard.Model/obj/Debug/net8.0/HiHelloCard.Model.dll
/HiHelloCard.Model/obj/Debug/net8.0/HiHelloCard.Model.genruntimeconfig.cache
/HiHelloCard.Model/obj/Debug/net8.0/HiHelloCard.Model.pdb
/HiHelloCard.Model/obj/Debug/net8.0/HiHelloCard.Model.sourcelink.json
/HiHelloCard.Repository/bin/Debug/net8.0/HiHelloCard.Interfaces.dll
/HiHelloCard.Repository/bin/Debug/net8.0/HiHelloCard.Interfaces.pdb
/HiHelloCard.Repository/bin/Debug/net8.0/HiHelloCard.Model.dll
/HiHelloCard.Repository/bin/Debug/net8.0/HiHelloCard.Model.pdb
/HiHelloCard.Repository/bin/Debug/net8.0/HiHelloCard.Repository.dll
/HiHelloCard.Repository/bin/Debug/net8.0/HiHelloCard.Repository.pdb
/HiHelloCard.Repository/obj/Debug/net8.0/HiHelloCard.Repository.AssemblyInfo.cs
/HiHelloCard.Repository/obj/Debug/net8.0/HiHelloCard.Repository.AssemblyInfoInputs.cache
/HiHelloCard.Repository/obj/Debug/net8.0/HiHelloCard.Repository.csproj.AssemblyReference.cache
/HiHelloCard.Repository/obj/Debug/net8.0/HiHelloCard.Repository.csproj.CoreCompileInputs.cache
/HiHelloCard.Repository/obj/Debug/net8.0/HiHelloCard.Repository.csproj.FileListAbsolute.txt
/HiHelloCard.Repository/obj/Debug/net8.0/HiHelloCard.Repository.dll
/HiHelloCard.Repository/obj/Debug/net8.0/HiHelloCard.Repository.pdb
/HiHelloCard.Repository/obj/Debug/net8.0/HiHelloCard.Repository.sourcelink.json
/HiHelloCard.Repository/obj/Debug/net8.0/refint/HiHelloCard.Repository.dll
/HiHelloCard.Repository/obj/Debug/net8.0/ref/HiHelloCard.Repository.dll
/HiHelloCard.Services/obj/Debug/net8.0/ref/HiHelloCard.Services.dll
*.cs
/HiHelloCard.Services/obj/Debug/net8.0/HiHelloCard.Services.csproj.FileListAbsolute.txt
/HiHelloCard/.vs/ProjectEvaluation/hihellocard.metadata.v8.bin
/HiHelloCard/.vs/ProjectEvaluation/hihellocard.projects.v8.bin
/HiHelloCard/.vs/ProjectEvaluation/hihellocard.strings.v8.bin
/HiHelloCard.Model/obj/Debug/net8.0/HiHelloCard.Model.assets.cache
/HiHelloCard/bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.Internal.dll
/HiHelloCard/bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/HiHelloCard/bin/Debug/net8.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/HiHelloCard/bin/Debug/net8.0/Microsoft.Extensions.Identity.Core.dll
/HiHelloCard/bin/Debug/net8.0/Microsoft.Extensions.Identity.Stores.dll
/HiHelloCard/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/HiHelloCard/obj/HiHelloCard.csproj.nuget.g.targets
/HiHelloCard.Interfaces/bin/Debug/net8.0/HiHelloCard.Interfaces.deps.json
/HiHelloCard.Interfaces/obj/HiHelloCard.Interfaces.csproj.nuget.g.targets
/HiHelloCard.Mapper/bin/Debug/net8.0/HiHelloCard.Mapper.deps.json
/HiHelloCard.Mapper/obj/HiHelloCard.Mapper.csproj.nuget.g.targets
/HiHelloCard.Model/bin/Debug/net8.0/HiHelloCard.Model.deps.json
/HiHelloCard.Model/obj/HiHelloCard.Model.csproj.nuget.g.targets
/HiHelloCard.Repository/bin/Debug/net8.0/HiHelloCard.Repository.deps.json
/HiHelloCard.Repository/obj/HiHelloCard.Repository.csproj.nuget.g.targets
/HiHelloCard.Services/obj/HiHelloCard.Services.csproj.nuget.g.targets
